<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div style="padding: 50px"><form>
  <h3 >Projects done and uploaded on github <a routerLink="/about"><p style="font-size:20px; text-align: right; margin-top: -40px"><i class="fa fa-times"></i></p></a></h3>
    <ul class="list-group">
        <li class="list-group-item"><a href="https://github.com/njabulomlang/Resume">Resume</a> </li>
        <li class="list-group-item"><a href="https://github.com/njabulomlang/news">News app with weather</a></li>
        <li class="list-group-item"><a href="https://github.com/njabulomlang/booking">Booking app using arrays</a></li>
        <li class="list-group-item"><a href="https://github.com/njabulomlang/signup">Sign-up card</a></li>
        <li class="list-group-item"><a href="https://github.com/njabulomlang/ionicflex">Flexbox layout</a></li>
        <li class="list-group-item"><a href="https://github.com/njabulomlang/Quizz">Quizz</a></li>
        <li class="list-group-item"><a href="https://github.com/njabulomlang/employee">Employees CRUD</a></li>
      </ul>
  </form></div>

<router-outlet></router-outlet>
