<link href="https://fonts.googleapis.com/css?family=Mate+SC&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Mate+SC|Yatra+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<div class="jumbotron" style="margin: 0px 20px 0px 20px">
  <h1 class="display-4">Portfolio</h1>
  <p class="lead">Get more information about Njabulo </p>
  <hr class="my-4">
  <p>This website includes CV, hello recruiters</p>
  <p class="lead">
 
    <button class="btn btn-primary btn-lg" routerLink='/cv'>Resume</button>
  </p>
</div>


<router-outlet></router-outlet>

