.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px;

}
.flex-container > button {
  background-color: #c7c7c7;
  height: 5vh;
  width: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  flex: 1;
  color: rgb(107, 63, 1);

  outline: none;
 /* border: none;*/
}
.pic{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

  margin: auto;
  width: 1150px

}
.pic > div{

  margin: 30px;
  align-content: center;

}

