.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin: 20px 20px 4px 20px;

}
.flex-container > button {
  background-color: #ececec;
  height: 5vh;
  width: 50px;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  flex: 1;
  color: rgb(1, 8, 107);

  outline: none;
 /* border: none;*/
}
