<link href="https://fonts.googleapis.com/css?family=Mate+SC|Rubik+Mono+One|Yatra+One&display=swap" rel="stylesheet">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<div class="flex-container">

    <div style="font-family: 'Mate SC', serif; font-size: 30px; border-bottom: rgb(184, 184, 184) solid 2px"><a [routerLink]="['/about']" style="color: black">Njabulo Celamandla Mlangeni</a></div>
    <div style="font-family: 'Mate SC', serif; font-size: 30px; border-bottom: rgb(184, 184, 184) solid 2px">software developer</div>
    <div class="contact">
      <div style="width: 600px">
        <div class="cont" style="text-align: left">
          CONTACT
        </div>
        <div style="text-align: left;"><i class="fa fa-phone"></i> +27 769 020 059<br>
          <i class="fa fa-envelope"></i> njabulocelamandla@gmail.com <br>
          <i class="fa fa-compass"></i> Gauteng, Orlando West<br>
          <i class="fa fa-github"></i> github.com/njabulomlang</div>

      </div>

       <div style="border-left: rgb(184, 184, 184) solid 2px; padding-left: 20px;">
          <div class="cont" style="text-align: left; ">
            PROFILE
          </div>
          <div style="text-align: left;" >
            <p>
                Young motivational, enthusiastic, responsible individual looking for junior software developer opportunity. Good communication skills, interpersonal skills, and a goal to serve
                professionally. Programmatically fit for font-end but can cope at back-end environment.
            </p>

          </div>

        </div>
    </div>
    <div class="contact">
        <div style="width: 600px">
          <div class="cont" style="text-align: left">
            EDUCATION
          </div>
          <div style="text-align: left">
            ND : Information Technology

            (2015-2017)<br>
            DUT<br>

            National Senior Certification : Matric

            (2014)<br>
            Tshanibezwe High School
          </div>
          <div class="cont" style="text-align: left">
            <br>  SKILLS
            </div>
            <div style="text-align: left;">


<p>CSS3</p>
<div class="container">
  <div class="skills html">90%</div>
</div>

<p>Angular7</p>
<div class="container">
  <div class="skills css">80%</div>
</div>

<p>Ionic3</p>
<div class="container">
  <div class="skills js">65%</div>
</div>

<p>TypeScript</p>
<div class="container">
  <div class="skills php">60%</div>
</div>
          </div>

        </div>

         <div style="border-left: rgb(184, 184, 184) solid 2px; padding-left: 20px;">
            <div class="cont" style="text-align: left; ">
              WORK EXPERIENCE
            </div>
            <div style="text-align: left;" >
                <p>
                    Mobile developer learner<br> CodeTribe Academy(eKasi) <br> from May 2019 - current<br>
                   - We are developing mobile applications under supervision of Mlab South Africa.
                </p>

              <p>
                  IT intern<br> Okhahlamba Local municipality  <br>from Aug 2018 - April 2019<br>
                 - Left because I wanted to be software engineer and I was considered at CodeTribe academy to showcase my interests.
              </p>

            </div>

          </div>
      </div>
      <div class="contact">
          <div style="width: 600px">


            </div>
        </div>
</div>

<router-outlet></router-outlet>
